<!--<h2>Hello World</h2>
<p>{{"Favourite Movie: " + favouriteMovie }}</p>

<app-employee></app-employee>-->
<h2>Angular Learning</h2>
<nav>
    <ul>
        <li><a routerLink="/viewemp" routerLinkActive="active-link">View Employee</a></li>
        <li><a routerLink="/editemp" routerLinkActive="active-link">Edit Employee</a></li>
        <li><a routerLink="/quantityincrement" routerLinkActive="active-link">Quantity Increment</a></li>
        <li><a routerLink="/editemptemplatedriven" routerLinkActive="active-link">Edit Employee (Template Driven)</a></li>
        <li><a routerLink="/editempreactive" routerLinkActive="active-link">Edit Employee (Reactive)</a></li>
        <li><a routerLink="/editempformbuilder" routerLinkActive="active-link">Edit Employee (Form Builder)</a></li>
        <li><a routerLink="/employeelist" routerLinkActive="active-link">Employees</a></li>
        <li><a routerLink="/login" routerLinkActive="active-link">Login</a></li>
    </ul>
</nav>

<router-outlet></router-outlet>

