<h2>Employee Details</h2>
<p><b>ID: </b>{{id}}</p>
<p><b>Name: </b>{{name}}</p>
<p><b>Salary: </b>{{salary | currency:"INR"}}</p>
<p *ngIf="permanent; else elseBlock"><b>Permanent: </b>Yes</p>
<ng-template #elseBlock><b>Permanent: </b>No</ng-template>
<p><b>Department Id: </b>{{department.id}}</p>
<p id="departmentName">Department Name: {{department.name}}</p>
<p><b>Skills</b></p>
<table>
    <tr>
        <th>Skill Id</th>
        <th>Skill Name</th>
    </tr>
    <tr *ngFor="let skill of skills">
        <td>{{skill.id}}</td>
        <td>{{skill.name}}</td>
    </tr>
</table>
<p><b>Date of Birth: </b>{{dateOfBirth | date}}</p>